name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_call:
    secrets:
      HEX_API_KEY:
        required: true
jobs:
  test:
    runs-on: ubuntu-20.04

    env:
      MIX_ENV: test
      elixir: 1.13.2
      otp: 22.2
      lint: true
      HEX_API_KEY: ${{ secrets.HEX_API_KEY }}

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 22.2
          elixir-version: 1.13.2

      - uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{env.elixir}}-${{env.otp}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-

      - run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test
      
      - run: mix hex.publish --yes
